[submodule "themes/digitalgarden"]
	path = themes/digitalgarden
	url = https://github.com/apvarun/digital-garden-hugo-theme.git
[submodule "themes/quietfoodie"]
	path = themes/quietfoodie
	url = https://github.com/paposeco/quietfoodie.git
